body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.modal-content {
    border-radius: 30px;
    padding: 40px 50px;
}

.modal-header {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

#request-modal .modal-content {
    border: none;
    background: url("../storage/images/online_girl.jpg") no-repeat right white;
    background-size: auto 100%;
}

#request-modal .modal-content .online-record {
    width: 60%;
}

#brands-modal p {
    width: 100%;
    padding-top: 30px;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

#brands-modal p a {
    color: inherit;
    text-decoration: none;
}

#brands-modal p a:hover {
    opacity: .5;
}

#brands-modal .brand-logo {
    float: left;
    text-align: center;
}

#nav-modal ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-modal ul li {
    font-size: 20px;
    text-transform: uppercase;
}

#nav-modal ul li a {
    font-weight: bold;
    color: rgba(0,0,0,.55);
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url("../storage/images/white_tansp_bg.png");
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader > div {
    width: 50px;
    height: 50px;
    background-image: url("../storage/images/preloader.gif");
    background-size: 100%;
}

button.btn {
    height: 46px;
    font-size: 18px;
    border-radius: 5px;
}

button.btn.btn-primary {
    min-width: 300px;
    color: #cccccc;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #808080;
    border-radius: 5px;
    background: linear-gradient(#738aa3, #2c3341);
}

button.btn.btn-secondary {
    min-width: 200px;
    color: #808285;
    background-color: white;
    border: none;
    filter: drop-shadow(0 3px 10px rgb(0, 0, 0, 0.3));
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 2.1rem;
    margin-bottom: 2.1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.9rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 14px;
}

hr {
    border-top: 1px solid rgba(0,0,0,.5)
}

.image {
    position: relative;
}

.image img {
    width: 100%;
}

.image i {
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
}

.image i.black {
    color: black;
}

.warning {
    font-weight: bold;
    color: orangered;
}

.price {
    font-size: 17px;
    font-weight: bold;
    color: #2c3341;
}

/*Data tables*/
table.app-data-table {
    width: 100%;
}

table.app-data-table th,
table.app-data-table td {
    font-size: .9em;
    line-height: 1.4em;
    border: 1px solid grey;
}

table.app-data-table tr td:first-child,
table.app-data-table tr th:first-child {
    width: 30%;
    text-align: left;
    padding-left: 5px;
}

table.app-data-table.simple tr td:first-child,
table.app-data-table.simple tr th:first-child {
    width: 70% !important;
}

table.app-data-table th {
    background-color: #3a6886;
    color: white;
}

table.app-data-table th {
    text-align: center;
}

table.app-data-table td.price,
table.app-data-table td.code {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

table.app-data-table th {
    padding-left: 6px;
    padding-right: 6px;
}

table.app-data-table td.code {
    font-weight: bold;
    font-size: 15px;
}

p.subscript {
    font-size: 10px;
    font-style: italic;
    color: grey;
    margin-top: 15px;
}

p.car-name {
    font-size: 13px;
    margin-top: 10px;
}

.big-table-container {
    width: 100%;
    overflow-x: scroll;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    position: absolute;
    top: 0;
}

.checkbox-inline span.checkbox-label{
    padding-left: 10px;
}

ul.sub-tasks {
    width: 100%;
    margin: auto;
    list-style-type: none;
    font-style: italic;
    padding: 30px 80px;
}

ul.sub-tasks li {
    width: 100%;
    display: table;
    background: url("../images/dot.svg") repeat-x bottom;
}

ul.sub-tasks li > div {
    height: 30px;
    background-color: #f5f5f5;
}

ul.sub-tasks .name {
    font-size: 15px;
    text-align: left;
    padding-top: 12px;
    padding-right: 4px;
    float: left;
    color: #3a6886;
}

ul.sub-tasks .price {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 4px;
    color: #3a6886;
    text-align: right;
    float: right;
}

.framed-image img {
    width: calc(100% - 10px);
    border: 5px solid #c8c8c8;
}

.image {
    /*float: none;*/
    /*display: inline-block;*/
}

section {
    padding: 50px 0;
}

section.gray {
    background: url("../storage/images/cropped_logo.svg") no-repeat top right #e5e5e5;
}

#feedback-plate,
#feedback-plate .white-plate {
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#feedback-plate {
    width: 47px;
    border: 2px solid #d1d3d4;
    position: fixed;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    font-size: 9px;
    top: -100%;
    right: 0;
    transform: translateY(-50%);
    background: #2c3341;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0, 0.3));
    z-index: 1000;
}

#feedback-plate i {
    font-size: 30px;
    position: relative;
    margin-bottom: 5px;
}

#feedback-plate a {
    color: white;
}

#feedback-plate > div {
    font-size: 5px;
    text-transform: uppercase;
}

#feedback-plate .white-plate {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
}

#feedback-plate .white-plate a {
    color: #697c96;
}

#feedback-plate .white-plate i.icon,
#feedback-plate .white-plate i.fa.fa-vk {
    margin-top: 4px;
    margin-left: -3px;
    font-size: 28px;
}

#top-line {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #697c96;
    font-weight: bold;
    font-size: 14px;
    filter: drop-shadow(0 3px 10px rgb(0, 0, 0, 0.3));
}

#top-line .container {
    text-align: right;
}

#top-line span {
    margin-left: 40px;
}

#top-line span i {
    margin-right: 5px;
    font-size: 16px;
}

#top-line span:first-child {
    margin-left: 0;
}

#top-line a {
    color: inherit;
}

#logo-line {
    width: 100%;
    height: 200px;
    color: #2c3341;
    display: flex;
    align-items: center;
}

#logo-line .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo-line .logo-block {
    width: 30%;
}

#logo-line .logo-block .logo {
    width: 40%;
    margin: 0 auto;
}

#logo-line .logo-block .logo a:hover img {
    opacity: .5;
}

#logo-line .logo-block .tagline {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

#logo-line .search-block {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logo-line .phones-block {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logo-line .phones-block .phone {
    text-align: center;
    margin-bottom: 8px;
}

#logo-line .phones-block .messengers i {
    margin-left: 5px;
    font-size: 25px;
}

.form-group {
    position: relative;
}

#logo-line .search-block .form-group {
    width: 100%;
    margin-bottom: 1.2rem;
}

#logo-line .search-block .online-consult {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

#logo-line a {
    color: inherit;
}

#logo-line a:hover {
    color: grey;
}

#logo-line .search-block .online-consult i {
    font-size: 30px;
    margin-right: 10px;
}

.form-group i {
    position: absolute;
    font-size: 18px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: grey;
}

.form-group i.icon-search4 {
    cursor: pointer;
}

.form-group i.icon-search4:hover {
    color: black;
}

.form-group input.has-icon {
    padding-right: 35px;
}

.error {
    color: red;
}

div.error {
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 13px;
}

input.error {
    border-color: red;
}

textarea {
    resize: none;
}

.main-nav {
    width: 100%;
    height: 73px;
    font-size: 18px;
    position: relative;
    filter: drop-shadow(0 2px 10px rgb(0, 0, 0, 0.3));
    z-index: 999;
}

.main-nav .nav-item {
    margin-left: 60px;
}

.main-nav .nav-item:first-child {
    margin-left: 0;
}

.navbar {
    background-color: white;
}

.navbar a {
    color: #808080;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.nav-item.active a {
    color: black;
    font-weight: bold;
}

.navbar-collapse {
    background: white;
}

#actions-block,
#action-block {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

#actions-block .action,
#action-block .action{
    width: 100%;
    height: 478px;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 90px;
    display: flex;
    align-items: center;
}

#actions-block .action h1 {
    font-size: 35px;
    color: white;
    text-transform: uppercase;
}

#actions-block .action p {
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}

.action-list .action {
    position: relative;
    text-align: center;
}

.action-list .action h2 {
    font-size: 1.3rem;
}

.action-list .action p {
    font-size: 1rem;
}

.action-list .action table {
    width: 100%;
}

.action-list .action table td.button-cell {
    vertical-align: bottom;
}

.action-list .action .action-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.action-list .action .action-image img {
    height: 100%;
}

.owl-nav {
    width: 100%;
    height: 20px;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.owl-nav button {
    width: 16px;
    height: 18px;
}

.owl-dots {
    width: 100%;
    position: absolute;
    bottom: 35px;
    text-align: center;
}

.owl-carousel .owl-dots button.owl-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    background: white;
}

.owl-carousel .owl-dots button.owl-dot.active {
    background: #b2b2b2;
}

.owl-carousel .owl-dots button.owl-dot:first-child {
    margin-left: 0;
}

.more-offers-repair {
    /*overflow: hidden;*/
    display: none;
}

.rounded-block-simple,
.rounded-block {
    background-color: white;
    border-radius: 30px;
    filter: drop-shadow(0 2px 10px rgb(0, 0, 0, 0.3));
}

.rounded-block-simple {
    padding: 25px;
}

.rounded-block {
    width: 100%;
    padding: 50px;
}

#our-prices .nav-tabs .nav-link {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#our-prices .nav-tabs .nav-link.active {
    border-top: 3px solid #55585e;
}

#our-prices .nav-link img {
    height: 34px;
}

#our-prices .tab-content {
    padding-top: 40px;
}

#our-prices .tab-content ul.price {
    list-style: none;
    float: left;
    padding: 0 10px;
    margin: 0;
}

#our-prices .tab-content ul.price li {
    width: 100%;
    display: table;
}

#our-prices .tab-content ul.price li > div {
    display: table-cell;
}

#our-prices .tab-content ul.price li .job-name,
#our-prices .tab-content ul.price li .job-price {
    width: 10%;
    white-space: nowrap;
}

#our-prices .tab-content ul.price li .dots {
    padding: 6px 3px;
    vertical-align: bottom;
}

#our-prices .tab-content ul.price li .dots > div {
    width: 100%;
    border-bottom: 1px dashed black;
}

.accordion-item {
    border-radius: 10px !important;
    margin-bottom: 10px;
    overflow: hidden;
    filter: drop-shadow(0 2px 10px rgb(0, 0, 0, 0.3));
}

.accordion-item i {
    font-size: 20px;
    color: #505f73;
    margin-right: 15px;
}

section .rounded-block.online-record {
    background: url("../storage/images/car.png") no-repeat right white;
}

section .rounded-block.online-record form {
    width: 60%;
}

.big-icon {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.big-icon i {
    font-size: 65px;
    color: #505f73;
}

.article-announcement {
    border-bottom: 1px solid grey;
    padding-top: 25px;
}

.article-announcement h3 {
    margin-bottom: 20px;
    text-transform: none;
}

.warning-plate {
    width: 100%;
    background:#eeeeee;
    border:1px solid #cccccc;
    margin-top: 20px;
    padding:5px 10px;
    text-align:center;
}

footer {
    padding: 90px 0 20px 0;
    background: url("../storage/images/cropped_logo_dark.svg") no-repeat right #2c3341;
    color: white;
}

footer a {
    color: white;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer .nav-link {
    color: white;
    font-size: .9rem;
    text-decoration: underline;
    padding: 0 0 5px 0;
}

footer .nav-item.active a {
    color: grey;
}

footer .form-group {
    margin-bottom: 5px;
}

footer .form-group input[type=text] {
    height: 35px !important;
}

footer .form-group label {
    font-size: 13px;
}

footer button.btn.btn-primary {
    min-width: 100%;
    margin-top: 0 !important;
    font-size: 12px;
    height: 35px;
}

footer hr {
    border-color: white;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1200px;
    }

    #nav-modal .modal-dialog {
        max-width: 600px;
    }
}

@media (max-width: 1400px) {
    .main-nav .nav-item {
        margin-left: 30px;
    }

    .online-record {
        background: white;
    }

    .online-record form {
        width: 100%;
    }
}

@media (max-width: 1320px) {
    #actions-block {
        width: 98%;
    }
}

@media (max-width: 1200px) {
    #request-modal .modal-content .online-record {
        width: 55%;
    }

    #logo-line .logo-block .tagline,
    #logo-line .search-block .online-consult {
        font-size: 18px;
    }

    #logo-line .search-block .online-consult i {
        font-size: 22px;
    }

    .main-nav {
        font-size: 16px;
    }

    .main-nav .nav-item {
        margin-left: 10px;
    }

    section .rounded-block.online-record {
        background: white;
    }

    section .rounded-block.online-record form {
        width: 100%;
    }
}

@media (max-width: 991px) {
    #logo-line .logo-block {
        width: 40%;
    }

    #logo-line .logo-block .logo {
        width: 60%;
    }

    #logo-line .search-block {
        width: 80%;
    }

    #top-line span.contact2 {
        display: none;
    }

    #logo-line .phones-block {
        display: none;
    }

    .navbar-collapse {
        padding: 25px;
        border-radius: 10px;
    }
}

@media (max-width: 1024px) {
    #request-modal .modal-content {
        background: white;
    }

    #request-modal .modal-content .online-record {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #feedback-plate {
        display: none;
    }

    .online-record .form-group {
        margin-bottom: 10px;
    }

    #logo-line .logo-block {
        width: 45%;
    }

    #logo-line .logo-block .tagline,
    #logo-line .search-block .online-consult {
        font-size: 16px;
    }

    #logo-line .search-block {
        width: 55%;
    }

    #logo-line .search-block .online-consult i {
        font-size: 18px;
    }

    #logo-line .search-block .form-group {
        margin-bottom: .5rem;
    }

    #top-line span.contact3 {
        display: none;
    }

    #actions-block {
        display: none;
    }

    .owl-nav {
        display: none;
    }
}

@media (max-width: 520px) {
    #logo-line {
        height: auto;
        padding: 10px 0;
    }

    #logo-line .container {
        flex-direction: column;
    }

    #logo-line .logo-block,
    #logo-line .search-block {
        width: 100%;
    }

    #logo-line .logo-block .logo {
        width: 40%;
    }

    #logo-line .logo-block {
        margin-bottom: 1.2rem;
    }

    #logo-line .logo-block .tagline,
    #logo-line .search-block .online-consult {
        font-size: 22px;
    }

    #nav-modal ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
